In [2]:
#Import Splinter, BeautifulSoup, Pandas
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
import os
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [3]:
#Set the executable path and initialize the chrome browser in splinter
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\gagans\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

## NASA Mars News

In [4]:
# Visitng the Mars NASA News website
url = "https://mars.nasa.gov/news/"
response = requests.get(url)

In [5]:
# Create BeautifulSoup object with html.parser
soup = bs(response.text, 'html.parser')

In [6]:
# Search for news titles
results = soup.find_all('div', class_='content_title')

#Creating a blank list to hold the headlines
news_titles = []

#Creating loop over div elements
for result in results:
    if(result.a):
        if(result.a.text):
            news_titles.append(result)
news_titles

[<div class="content_title">
 <a href="/news/8882/nasas-perseverance-drives-on-mars-terrain-for-first-time/">
 NASA's Perseverance Drives on Mars' Terrain for First Time
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8880/nasa-awards-mars-ascent-propulsion-system-contract-for-sample-return/">
 NASA Awards Mars Ascent Propulsion System Contract for Sample Return
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8878/nasa-to-provide-update-on-perseverance-firsts-since-mars-landing/">
 NASA to Provide Update on Perseverance ‘Firsts' Since Mars Landing
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8870/nasas-mars-perseverance-rover-provides-front-row-seat-to-landing-first-audio-recording-of-red-planet/">
 NASA's Mars Perseverance Rover Provides Front-Row Seat to Landing, First Audio Recording of Red Planet
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8868/nasa-to-reveal-new-video-images-from-mars-perseverance-rover/">
 NASA to Reveal New Video, Images From Mars Perseverance Rover
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8860/nasas-next-mars-rover-is-ready-for-the-most-precise-landing-yet/">
 NASA's Next Mars Rover Is Ready for the Most Precise Landing Yet
 </a>
 </div>]

In [7]:
finalnewstitles = []

#Printing the headlines only
for x in range(6):
    var = news_titles[x].text
    newvar = var.strip('\n\n')
    finalnewstitles.append(newvar)
finalnewstitles

["NASA's Perseverance Drives on Mars' Terrain for First Time",
 'NASA Awards Mars Ascent Propulsion System Contract for Sample Return',
 "NASA to Provide Update on Perseverance ‘Firsts' Since Mars Landing ",
 "NASA's Mars Perseverance Rover Provides Front-Row Seat to Landing, First Audio Recording of Red Planet ",
 'NASA to Reveal New Video, Images From Mars Perseverance Rover',
 "NASA's Next Mars Rover Is Ready for the Most Precise Landing Yet"]

## JPL Mars Space Images - Featured Image

In [8]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
#html = browser.html

In [9]:
browser.find_by_xpath("/html/body/div/div/div/header/div[1]/div[3]/div/nav/div[1]/div[4]/button/span").click()

In [10]:
browser.find_by_xpath("/html/body/div/div/div/header/div[1]/div[3]/div/nav/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/a/div/div/div/div/img").click()

In [11]:
#browser.find_by_xpath("/html/body/div/div/div/main/div/div[2]/div/div/div[1]/img").click()

In [12]:
img_browser = browser.html
soup_img = bs(img_browser, "html.parser")

In [13]:
a = soup_img.find("div", class_="BaseImagePlaceholder")

In [14]:
featured_img_url = a.find("img")["data-src"]
featured_img_url

'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24179.2e16d0ba.fill-400x225-c70.jpg'

## Mars Facts

In [15]:
# URL to be scraped
url = "https://space-facts.com/mars/"

In [16]:
# Giving defination to the table
table = pd.read_html(url)

In [17]:
# Asking for facts
mars_df = table[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
mars_df.columns = ['Data', 'Measurement']
mars_df.head()

                   Data                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [19]:
m = pd.Series(mars_df['Data'])
mars_df['Data'] = m.str.strip(':')
mars_df = mars_df.set_index('Data')
mars_df

                                       Measurement
Data
Equatorial Diameter                       6,792 km
Polar Diameter                            6,752 km
Mass                 6.39 × 10^23 kg (0.11 Earths)
Moons                          2 (Phobos & Deimos)
Orbit Distance            227,943,824 km (1.38 AU)
Orbit Period                  687 days (1.9 years)
Surface Temperature                   -87 to -5 °C
First Record                     2nd millennium BC
Recorded By                   Egyptian astronomers

In [20]:
# Converting into html
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n    </tr>\n    <tr>\n      <th>Data</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
#Saving as html file
mars_df.to_html('mars_table.html')

## Mars Hemispheres

In [22]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
nextpage_urls = []
imgtitles = []
base_url = 'https://astrogeology.usgs.gov'

#Html object
html = browser.html

#Using Beautiful Soup
soup = bs(html, 'html.parser')

#Getting the info for eleents containing hemisphere photo data
divs = soup.find_all('div', class_='description')

#Iteration to pull titles
counter = 0
for div in divs:
    link = div.find('a')
    href = link['href']
    img_title = div.a.find('h3')
    img_title = img_title.text
    imgtitles.append(img_title)
    next_page = base_url + href
    nextpage_urls.append(next_page)
    counter = counter+1
    if (counter == 4):
        break
print(nextpage_urls)
print(imgtitles)

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']
['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [23]:
#Creating loop for high resolution photo on next page
my_images = []
for nextpage_url in nextpage_urls:
    url = nextpage_url
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    link2 = soup.find('img', class_="wide-image")
    forfinal = link2['src']
    full_img = base_url + forfinal
    my_images.append(full_img)
    nextpage_urls = []
my_images

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [24]:
hemispheres_image_urls = []
cerberus = {'title': imgtitles[0], 'img_url': my_images[0]}
schiaparelli = {'title': imgtitles[1], 'img_url': my_images[1]}
syrtis = {'title': imgtitles[2], 'img_url': my_images[2]}
valles = {'title': imgtitles[3], 'img_url': my_images[3]}

hemispheres_image_urls = [cerberus, schiaparelli, syrtis, valles]

print(hemispheres_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]